<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VBMarket.My.MySettings.ConnectionDB" connectionString="Data Source=DESKTOP-VSIUJL0\SQLEXPRESS;Initial Catalog=TokoVBNet;Integrated Security=True" />
    </connectionStrings>
</configuration>
